<%= link_to image_tag("bus.jpg", :width=> 70, :height =>70 ), :action =>'accueil', :controller =>'pages'%>

<!--il faut changer la distination de lien-->

<div class="row">
	<div class="jumbotron text-center">
		<h1>Transport Scolaire</h1>
		<p>Année 2014-2015</p>

		<div class="col-md-6 col-md-offset-3">
					<%= button_to 'créer un compte', new_user_path, :class => "btn btn-success", :method => :get %>
		</div>
	</div>
</div>

<div class="row">
	<div class="home-content col-md-6 col-md-offset-3">
		<h2>Comment utiliser cette application ?</h2>
	</div>
</div>

