

<!--il faut changer la distination de lien-->

<h1>Bienvenue sur la page d'accueil du site busonrails</h1>


<h2>Vous pouvez vous connecter</h2>

<h3 class="titre">Se connecter</h3>

<%= render 'form' %>


<!--page de connexion
	infos
