<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur BusonRails</h1>
    <p>
      Vous vous êtes enregistré avec succès !
      Votre email est : <%= @user.email %>.<br>
      
    </p>
    <p>
      Pour vous connecter, veuillez cliquer sur le lien suivant  <%= @url %>.
    </p>
    <p>Vous pourrez ainsi inscrire votre enfant et vos coordonnées</p>
    <p>Merci ! Bonne journée !!!! et bonne année !!!</p>
  </body>
</html>
